{% extends 'main_base.html' %}
{% block name_page %}About us{% endblock %}
{% block link_style %}
<link rel="stylesheet" type="text/css" href="../static/starbuzz.css">{% endblock %}
{% block main_info %}
<div style="width: 50%; margin-left: auto; margin-right: auto">
    <h1 style="font-size: 50px; color: black; margin-top: 50px">Let's talk coffee</h1>
    <div>
        <p style="font-size: 19px">Whether you're searching for something new to warm your mug, seeking the best brew method for your favorite blend or exploring our rarest offerings, you’ve come to the right place.</p>
        <img src="../static/images/Default_packages_with_coffee_1.jpg" style="width: 100%">
    </div>
    <div style="width: 80%; margin-bottom: 80px">
        <h2 style="font-size: 32px; margin-top: 50px">Find your favorite at-home coffee</h2>
        <p style="font-size: 19px; margin-bottom: 50px">From K-Cup pods to Starbucks® Premium Instant, we offer a wide selection of coffee to fill your cup.</p>
        <a class="join_now" href="/menu" style="padding: 10px 20px; border-radius: 50px; border: 1px solid green; color: white; background-color: green">Order now</a>
        <p style="font-size: 19px; margin-bottom: 50px; margin-top: 50px">Still undecided? Our new Coffee Quiz makes it easy to find the Starbucks® coffee that's made to be yours. Just answer five questions to find the one.</p>
        <a class="join_now" href="/about_us" style="padding: 10px 20px; border-radius: 50px; border: 1px solid green; color: white; background-color: green">Learn more</a>
    </div>
    <img src="../static/images/Default_3_coffee_kettles_0.jpg" style="width: 100%">
    <div style="width: 80%; margin-bottom: 80px">
        <h2 style="font-size: 32px; margin-top: 50px">The rarest, most extraordinary coffees Starbucks has to offer</h2>
        <p style="font-size: 19px; margin-bottom: 50px">Exceptional coffees from around the world. Sourced for the season, roasted at Starbuzz Reserve® Roasteries and crafted with care.</p>
        <a class="sign_in" href="/about_us" style="padding: 10px 20px; border-radius: 50px; border: 1px solid green; color: green">Learn more</a>
    </div>
    <img src="../static/images/Default_pouring_coffee_into_a_cup_1.jpg" style="width: 100%">
    <div style="width: 80%; margin-bottom: 80px">
        <h2 style="font-size: 32px; margin-top: 50px">We Believe in the Pursuit of Doing Good</h2>
        <p style="font-size: 19px; margin-bottom: 50px">As it has been from the beginning, our purpose goes far beyond profit. We believe Starbucks can, and should, have a positive impact on the communities we serve.</p>
        <a class="sign_in" href="/recipes" style="padding: 10px 20px; border-radius: 50px; border: 1px solid green; color: green">Learn to brew your perfect cup</a>
    </div>
    <div>
        <p style="font-size: 14px">Starbucks and the Starbucks logo are registered trademarks of Starbucks Corporation used under license by Nestlé.</p>
        <p style="font-size: 14px; margin-bottom: 50px">Keurig, K-Cup, and the Keurig trade dress are trademarks of Keurig Green Mountain, Inc., used with permission. Pike Place is a registered trademark of The Pike Place Market PDA, used under license.</p>
    </div>
</div>
{% endblock %}