{% extends 'main_base.html' %}
{% block name_page %}About us{% endblock %}
{% block link_style %}
<link rel="stylesheet" type="text/css" href="../static/starbuzz.css">{% endblock %}
{% block main_info %}
<div style="width: 50%; margin-left: auto; margin-right: auto">
    <h1 style="font-size: 5vh; color: black; margin-top: 5vh">Our company</h1>
    <div>
        <h2 style="font-size: 3.2vh; margin-top: 5vh">Our cafe</h2>
        <img src="../static/images/Default_coffee_shop_photo_from_outside_without_text_0.jpg" style="width: 100%">
    </div>
    <div style="width: 80%; margin-bottom: 8vh">
        <h2 style="font-size: 3.2vh; margin-top: 5vh">Our Heritage</h2>
        <p style="font-size: 1.9vh; line-height: 1.5">Our story begins in 1971 along the cobblestone streets of Seattle’s historic Pike Place Market. It was here where Starbucks opened its first store, offering fresh-roasted coffee beans, tea and spices from around the world for our customers to take home. Our name was inspired by the classic tale, “Moby-Dick,” evoking the seafaring tradition of the early coffee traders.</p>
    </div>
    <img src="../static/images/Default_man_pour_a_coffee_1.jpg" style="width: 100%">
    <div style="width: 80%; margin-bottom: 8vh">
        <h2 style="font-size: 3.2vh; margin-top: 5vh">Coffee & Craft</h2>
        <p style="font-size: 1.9vh; margin-bottom: 5vh; line-height: 1.5">It takes many hands to craft the perfect cup of coffee – from the farmers who tend to the red-ripe coffee cherries, to the master roasters who coax the best from every bean, and to the barista who serves it with care. We are committed to the highest standards of quality and service, embracing our heritage while innovating to create new experiences to savor.</p>
        <a class="sign_in" href="/about_coffee" style="padding: 1vh 2vh; border-radius: 5vh; border: 1px solid green; color: green">Learn more</a>
    </div>
    <img src="../static/images/Default_group_of_people_in_cafe_1.jpg" style="width: 100%">
    <div style="width: 80%; margin-bottom: 8vh">
        <h2 style="font-size: 3.2vh; margin-top: 5vh">Our Partners</h2>
        <p style="font-size: 1.9vh; line-height: 1.5">We like to say that we are not in the coffee business serving people, but in the people business serving coffee. Our employees – who we call partners – are at the heart of the Starbucks experience. We are committed to making our partners proud and investing in their health, well-being and success and to creating a culture of belonging where everyone is welcome.</p>
    </div>
    <img src="../static/images/Default_fields_1.jpg" style="width: 100%">
    <div style="width: 80%; margin-bottom: 8vh">
        <h2 style="font-size: 3.2vh; margin-top: 5vh">We Believe in the Pursuit of Doing Good</h2>
        <p style="font-size: 1.9vh; line-height: 1.5">As it has been from the beginning, our purpose goes far beyond profit. We believe Starbucks can, and should, have a positive impact on the communities we serve.</p>
    </div>
    <div style="width: 80%; margin-bottom: 8vh">
        <h2 style="font-size: 2.4vh; margin-top: 5vh">People</h2>
        <p style="font-size: 1.9vh; line-height: 1.5">Our aspiration is to be people positive – investing in humanity and the well-being of everyone we connect with, from our partners to coffee farmers to the customers in our stores and beyond.</p>
    </div>
    <div style="width: 80%; margin-bottom: 8vh">
        <h2 style="font-size: 2.4vh; margin-top: 5vh">Planet</h2>
        <p style="font-size: 1.9vh; line-height: 1.5">We are striving to become resource positive – giving back more than we take from the planet. We are working to store more carbon than we emit, replenish more freshwater than we use, and eliminate waste. We know we can’t do it alone. It takes all of us.</p>
    </div>
</div>
<div style="width: 50%; margin-left: auto; margin-right: auto">
    <h1 style="font-size: 5vh; color: black">Learn more about us</h1>
    <div style="width: 80%; margin-bottom: 8vh">
        <h2 style="font-size: 2.4vh; margin-top: 5vh">Stories & News</h2>
        <p style="font-size: 1.9vh; line-height: 1.5">Behind every cup of coffee is a story. Enjoy some of our favorites along with all the latest news from the storytellers at Starbucks Stories.</p>
        <a class="sign_in" href="mailto:holanpolain090@gmail.com" style="padding: 1vh 2vh; border-radius: 5vh; border: 1px solid green; color: green">Learn more</a>
    </div>
    <div style="width: 80%; margin-bottom: 8vh">
        <h2 style="font-size: 2.4vh; margin-top: 5vh">Company Profile</h2>
        <p style="font-size: 1.9vh; line-height: 1.5">Here’s a closer look at our company.</p>
        <a class="sign_in" href="mailto:holanpolain090@gmail.com" style="padding: 1vh 2vh; border-radius: 5vh; border: 1px solid green; color: green">Learn more</a>
    </div>
    <div style="width: 80%; margin-bottom: 8vh">
        <h2 style="font-size: 24px; margin-top: 5vh">Company Timeline</h2>
        <p style="font-size: 1.9vh; line-height: 1.5">Read a brief history of Starbucks, from 1971 through today.</p>
        <a class="sign_in" href="mailto:holanpolain090@gmail.com" style="padding: 1vh 2vh; border-radius: 5vh; border: 1px solid green; color: green">Learn more</a>
    </div>
</div>
{% endblock %}