{% extends 'main_base.html' %}
{% block name_page %}Рецепты кофе{% endblock %}
{% block link_style %}
<link rel="stylesheet" href="../static/starbuzz.css">{% endblock %}
{% block main_info %}
<div class="tableContainer2">
    <div id="info_geolocation" style="margin-top: 10px">
        <div class="Row_info">
            <h1>Address number 1</h1>
            <p>St. Petersburg, ave. Sciences, 21, building 1</p>
            <p>Daily from 10:00 to 22:00</p>
        </div>
        <div class="Row_info">
            <h1>Address number 2</h1>
            <p>St. Petersburg, ave. Five-year plan, 2A</p>
            <p>Daily from 10:00 to 22:00</p>
        </div>
        <div class="Row_info">
            <h1>Address number 3</h1>
            <p>St. Petersburg, Fuchika str., 2</p>
            <p>Daily from 10:00 to 22:00</p>
        </div>
    </div>
    <div id="map" class="map_class"></div>
</div>
{% endblock %}
