{% extends 'main_base.html' %}
{% block name_page %}Рецепты кофе{% endblock %}
{% block link_style %}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
<meta charset="utf-8">
<link rel="stylesheet" href="/static/starbuzz.css">
{% endblock %}
{% block main_info %}
<body>
<div class="tableContainer2">

    <div id="info_geolocation">
        <div class="Row_info">
            <h1>Адрес номер 1</h1>
            <p>г. Санкт-Петербург, пр-т. Науки, д. 21, корп. 1</p>
            <p>Ежедневно с 10:00 до 22:00 (открыто - до закрытия 7 ч.)</p>
        </div>
        <div class="Row_info">
            <h1>Адрес номер 2</h1>
            <p>г. Санкт-Петербург, пр-т. Пятилеток, д. 2А</p>
            <p>Ежедневно с 10:00 до 22:00 (открыто - до закрытия 7 ч.)</p>
        </div>
        <div class="Row_info">
            <h1>Адрес номер 3</h1>
            <p>г. Санкт-Петербург, ул. Фучика, д. 2</p>
            <p>Ежедневно с 10:00 до 22:00 (открыто - до закрытия 7 ч.)</p>
        </div>
    </div>
    <div id="map" class="map_class"></div>
</div>

</body>
{% endblock %}
