{% extends 'main_base.html' %}
{% block name_page %}Menu{% endblock %}
{% block link_style %}<link rel="stylesheet" type="text/css" href="../static/starbuzz.css">{% endblock %}
{% block main_info %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_page %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="../static/starbuzz.css">
</head>

<div class="tableContainer">
    <div class="tableRow">
        <section class="section_рецепт_кофе">
            <h1 style="margin-left: 10px; font-size: 50px">{% block name_of_coffee %}{% endblock %}</h1>
            <div style="display: flex; flex-direction: row">
                {% block image_coffee %}{% endblock %}
                <ol>
                    {% block ol_recipe %}
                    {% endblock %}
                </ol>
            </div>
            <div class="table_propor">
                <p id="для_одной_чашки_тоже">Ингредиенты для приготовления кофе:</p>
                <table id="пропорции_для_кофе_таблица">
                    {% block table_of_propor %}{% endblock %}
                </table>
            </div>
        </section>
    </div>
</div>
{% endblock %}