<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block name_page %}{% endblock %}</title>
    {% block link_style %}{% endblock %}
</head>
<body>

<div class="main_cont">
    <div class="cont1">
        <a href="/">ЛОГ</a>
        <a href="/blog">MENU</a>
        <a href="/recipes">RECIPES</a>
        <a href="/address">Find a store</a>
    </div>
    <div class="cont2">

        {% if current_user.is_authenticated %}
        <a href="/logout">{{ username }}</a>
        {% else %}
        <a class="sign_in" href="/login">Sign in</a>
        <a class="join_now" href="/register">Join now</a>
        {% endif %}

    </div>
</div>
{% block main_info %}{% endblock %}
<footer>
    &copy; 2024, Кафе Starbuzz
    <br>
    Все торговые марки, которые появляются на данном сайте,
    являются собственностью меня.
</footer>
</body>
</html>