{% extends 'main_base.html' %}
{% block name_page %}Menu{% endblock %}
{% block link_style %}
<link rel="stylesheet" type="text/css" href="../static/starbuzz.css">
<style>body {
    visibility: hidden;
}</style>
<script>
    function f() {
        alert('Create your account')
    }

    window.addEventListener("beforeunload", function (event) {
        localStorage.setItem("scrollPosition", window.pageYOffset);
    });

    // Восстанавливаем положение скролла после загрузки страницы
    window.addEventListener("load", function (event) {
        var scrollPosition = localStorage.getItem("scrollPosition");
        if (scrollPosition) {
            window.scrollTo(0, parseInt(scrollPosition)); // Преобразуем строку в число
            localStorage.removeItem("scrollPosition"); // Очищаем сохраненное значение
            document.body.style.visibility = "visible";
        }
    });
</script>
{% endblock %}
{% block main_info %}
<form class="myForm" method="post" enctype="multipart/form-data">
    <div class="tableContainer" style="margin-left: 4vh;">
        {% if flag %}
        <div class="tableRow">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="col">{{ form.name(class="form-control", type="text", placeholder="Name") }}</div>
                <div class="col">{{ form.price(class="form-control", type="text", placeholder="Price") }}</div>
                <div class="col">{{ form.desc(class="form-control", type="text", placeholder="Description",
                    style="height: 38px;") }}
                </div>
                <div class="col">{{ form.group(class="form-control") }}</div>
                <div class="col">
                    <div class="col">{{ form.file(type="file", class="custom-file-input", id="inputGroupFile01") }}
                    </div>
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>

                <div class="col">
                    <button type="submit" class="btn btn-primary" name="add_product" value="add_product">
                        Add product
                    </button>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="tableRow">
            <div style="width: 140vh">
                <h1 style="font-size: 4vh; margin-top: 1vh">MENU</h1>
                <h2 style="font-size: 2.5vh; margin-top: 1vh">Drinks</h2>
                <hr>
            </div>
            {% for item in drinks %}
            <div class="menu_card_item">
                {% for i in item %}
                <div class="first_a_menu_item" style="margin-right: 10vh;">
                    <div class="test2">
                        {% if current_user.is_authenticated %}
                        <button type="submit" name="{{ i.name }}" value="{{ i.name }}"
                                style="border: 0; background-color: white; margin: 0; padding: 0">
                            <img alt="" class="product_animation" src="{{ i.file }}">
                            <p class="red_string_for_menu">{{ i.price }}$</p>
                        </button>
                        {% else %}
                        <img onclick="f()" alt="" class="product_animation"
                             src="{{ i.file }}">
                        {% endif %}
                    </div>
                    <div>
                        <h1 class="h1_1">{{ ' '.join(i.name.split('_')).capitalize() }}</h1>
                        <h1 class="h1_2">{{ i.desc }}</h1>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
        <div style="margin-top: 70px">
            <h2 style="font-size: 2.5vh">Food</h2>
            <hr>
        </div>
        {% for item in food %}
        <div class="menu_card_item">
            {% for i in item %}
            <div class="first_a_menu_item" style="margin-right: 10vh;">
                <div class="test2">
                    {% if current_user.is_authenticated %}
                    <button type="submit" name="{{ i.name }}" value="{{ i.name }}"
                            style="border: 0; background-color: white; margin: 0; padding: 0">
                        <img alt="" class="product_animation" src="{{ i.file }}">
                        <p class="red_string_for_menu">{{ i.price }}$</p>
                    </button>
                    {% else %}
                    <img onclick="f()" alt="" class="product_animation"
                         src="{{ i.file }}">
                    {% endif %}
                </div>
                <div>
                    <h1 class="h1_1">{{ ' '.join(i.name.split('_')).capitalize() }}</h1>
                    <h1 class="h1_2">{{ i.desc }}</h1>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

</form>
{% endblock %}