{% extends 'main_base.html' %}
{% block name_page %}Рецепты кофе{% endblock %}
{% block link_style %}

<link rel="stylesheet" type="text/css" href="../static/starbuzz.css">
{% endblock %}
{% block main_info %}
<div style="display:flex; justify-content: space-between; margin-top: 10px;">
    <div class="cont_info_user_profile">
        <form method="POST" enctype="multipart/form-data" style="border-right: 1px solid #e8e8e8; padding-right: 20px">
            {{ form.hidden_tag() }}
            <label for="file_input">
                <img src="{{ filename }}" alt="Image" width="200" height="200" style="border-radius: 100px;">
            </label>
            {{ form.file(id='file_input', style='display:none') }}

            <p>{{ form.name.label }} {{ form.name(class="test123", type="name", placeholder=first_name) }}</p>
            <p>{{ form.surname.label }} {{ form.surname(class="test123", type="name", placeholder=surname) }}</p>
            <p>{{ form.phone.label }} {{ form.phone(class="test123", type="phone", placeholder=phone) }}</p>
            <p>{{ form.email.label }}{{ form.email(class="test123", type="email", placeholder=email) }}</p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            {{ message }}
        </form>
    </div>
    <div class="address_class">
        <h1>Enter the address name</h1>
        <p>{{ form.street.label }} {{ form.street(class="test123", placeholder=street) }}</p>
        <p>{{ form.apartment.label }} {{ form.apartment(class="test123", placeholder=apartment) }}</p>
        <p>{{ form.entrance.label }} {{ form.entrance(class="test123", placeholder=entrance) }}</p>
        <p>{{ form.floor.label }}{{ form.floor(class="test123", placeholder=floor) }}</p>
        <p>{{ form.intercom.label }}{{ form.intercom(class="test123", placeholder=intercom) }}</p>

        <p>{{ form.comment.label }}{{ form.comment(class="comment_class", placeholder='For example, landmarks, the entrance to the arch…') }}</p>
    </div>
    <div id="map" style="width: 400px; height: 400px; margin-right: 125px; "></div>
</div>
{% endblock %}